body {
  margin: 0;
  background-color: #111;
  color: #eee;
  font-family: sans-serif;
}

#App {
  max-width: 60em;
  margin: 0 auto;
  min-height: 100vh;
}

.MangaList {
  padding-bottom: 1em;
}

.MangaEntry {
  display: flex;

  &:hover {
    background-color: #fff2;
  }

  .manga-entry-title {
    font-weight: 700;
    padding: 0 0.5em;
    width: 100%;
  }

  .manga-entry-read {
    flex-shrink: 0;
    padding: 0 0.5em;
  }
}

.MangaEditor {
  label {
    display: flex;
    align-items: center;

    .manga-prop-input-label {
      min-width: 6em;
      font-size: 0.8em;
    }

    input {
      display: block;
      background: none;
      border: none;
      font: inherit;
      color: inherit;
      border-bottom: 2px solid #eee;
      padding: 0.2em 1em;
      margin: 0.5em 0;

      &:focus {
        outline: none;
      }
    }
  }

  .provider-name {
    padding: 1em 0.5em;
  }
}

button {
  margin: 0 0.5em;
  border: none;
  background: none;
  background-color: #333;
  cursor: pointer;
  padding: 0.1em 1em;
  color: #eee;

  &:hover {
    background-color: #555;
    color: #fff;
  }
}
