* {
  box-sizing: border-box;
}

html {
  @media (max-width: 1367px) {
    font-size: 0.9em;
  }

  @media (max-width: 768px) {
    font-size: 0.8em;
  }

  @media (max-width: 615px) {
    font-size: 0.7em;
  }
}

body {
  margin: 0;
  background-color: #111;
  color: #eee;
  font-family: sans-serif;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

input,
select {
  display: block;
  background: none;
  border: none;
  font: inherit;
  color: inherit;
  font-size: 0.9em;
  border-bottom: 1px solid #eee3;
  padding: 0.2rem 1rem;
  margin: 0.5rem 0;
  transition: 0.2s;

  &:focus {
    outline: none;
  }

  @at-root body.has-hover &:hover,
    &:focus {
    border-color: #eee9;
  }

  &[type="number"]::-webkit-inner-spin-button,
  &[type="number"]::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
  }

  &[type="number"] {
    -moz-appearance: textfield;
  }
}

select {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1em;
  font-size: 0.7em;

  option {
    background-color: #333;
    color: #eee;
  }
}

label {
  cursor: pointer;

  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"] + span:before {
    content: "\2713";
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1.5em;
    height: 1.5em;
    background-color: #333;
    color: transparent;
    margin-right: 1em;
    margin-bottom: -0.1em;
    border: 1px solid #888;
    box-shadow: 0 0 1px #888;
    font-weight: 700;
    border-radius: 1em;
    transition: 0.2s;
  }
  input[type="checkbox"]:checked + span:before {
    width: 3em;
    color: #eee;
    border-color: #eee;
    box-shadow: 0 0 1px #eee;
  }

  @at-root body.has-hover &:hover {
    input[type="checkbox"] + span:before {
      opacity: 0.5;
    }
  }
}

#Filters {
  padding: 1em;
  max-width: 40em;
  margin: 0 auto;

  .filter-group {
    display: flex;
    align-items: center;
    padding: 0.2em 0;
    min-height: 2em;

    label {
      display: flex;
      align-items: center;
    }

    span {
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-size: 0.7em;
    }

    input,
    select {
      margin: 0 0.5em;
      font-size: 0.7em;
    }

    input[type="text"],
    input[type="number"] {
      width: 5em;
    }
  }
}
