.MangaEditor {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 19;
  background-color: #000d;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  form {
    max-width: 100%;
    padding: 1em;
  }

  .manga-editor-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    button {
      display: block;
      margin: 0.5em;
      background-color: #eee;
      color: #333;
      padding: 0.5em 2em;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-weight: 700;
      transition: 0.2s;

      &:hover {
        background-color: #333;
        color: #eee;
      }
    }
  }

  label {
    display: flex;
    align-items: center;
    width: 40rem;
    max-width: 100%;

    .manga-prop-input-label {
      min-width: 10em;
      font-size: 0.7em;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      text-align: right;
      padding-right: 1em;
      opacity: 0.5;
    }

    input,
    select {
      width: 100%;
      opacity: 0.5;

      &:hover,
      &:focus {
        opacity: 1;
      }
    }
  }

  .emphasized-inputs {
    label {
      .manga-prop-input-label {
        opacity: 1;
      }

      input,
      select {
        border-bottom: 1px solid #eee;
        opacity: 0.75;

        &:hover,
        &:focus {
          opacity: 1;
        }
      }
    }
  }

  .provider-name {
    padding: 2em 0.5em 0 0.5em;
    text-align: center;
    font-weight: 700;
    opacity: 0.5;
  }
}
